.header{
    display: flex;
    justify-content: space-between;
    background-color: maroon;
    padding: 10px;
}
body{
    margin: 0;
    padding: 0;
}
.header ul{
    display: flex;
    list-style-type: none;
    margin:auto;
    justify-content: space-around;
    font-size: x-large;
    width: 600px;
}

.header ul li{
    padding: 10px;
}
.header .link h2{
    margin:0;
}
.header .link{
    text-decoration: none;
    font-size: x-large;
    color: ivory;
}
.college .link{
    text-decoration: none;
    font-size: x-large;
    margin: 10px;
}
.active{
    font-weight: 900;
}
